<!-- <div class="center jumbotron">
  <h1>欢迎来到,不知道写什么slogan</h1>

  <h2>
    页面还在完善中
  </h2>

  <%= link_to "立即注册", signup_path, class: "btn btn-lg btn-primary" %>
</div> -->

<%= render 'select' %>
<div class="">
每十分钟更新一次,同步时间: <%= @news.last.created_at %>
</div>
<div class="mt-2">
  <%= render 'form' %>
</div>
<script type="text/javascript">

$("#select_resource").change(function(){
    var re = $("#select_resource").val();
    $.ajax({
      type: "get",
      cache: false,
      url: "/home_resource?resource=" + re,
      dataType: 'html',
      success: function(data){
        $('#list_resource').html(data);
      },
      error: function(XMLHttpResponse) {
        $("#list_resource").html("获取失败,请重试!");
      },
    });
});

</script>
