
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>抓取错误提醒,错误信息如下,请尽快处理</h1>
    <p><%= @error %>.<br>
    </p>
  </body>
</html>