<header id="header">
  <div class="container main-menu">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <a href="/"><img src="img/logo.png" alt="" title="" /><span class="logo_css">热搜集锦</span></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <!-- <li><a href="">github</a></li> -->
          <li><a href="">微博</a></li>
          <li><a href="">知乎</a></li>
          <!-- <li><a href="">36kr</a></li>
          <li><a href="">掘金</a></li>
          <li><a href="">Pricing</a></li> -->
          <li class="menu-has-children"><a href="">api</a>
            <ul>
              <li><a href="/api/access_data?resource=zhihu" target="_blank">知乎api</a></li>
              <li><a href="/api/access_data?resource=weibo" target="_blank">微博api</a></li>
            </ul>
          </li>
          <!-- <li class="menu-has-children"><a href="">Pages</a>
            <ul>
              <li><a href="elements.html">Elements</a></li>
            <li class="menu-has-children"><a href="">Level 2 </a>
              <ul>
                <li><a href="#">Item One</a></li>
                <li><a href="#">Item Two</a></li>
              </ul>
            </li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li> -->
        </ul>
      </nav>
    </div>
  </div>
</header>
